body {
    background-image: url(nightBG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  h1 {
    color: rgb(226, 225, 233);
    text-align: center;
  }
  .image{
      justify-content: center;
      display: flex;
  }
  p {    
    font-family: verdana;
    font-size: 20px;
    color: rgb(232, 243, 239);
    text-align: center;
  }